/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr max-content 1fr/* repeat(3, 1fr) */;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 25px;
  /* justify-content: space-between; */
  min-width: 1340px;
  height: 109px;
  align-items: center;
  margin: 92px 50px;
}

.header__menu {
/*   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start; */
  grid-area: 1/1/2/2;
  /* gap: 35px; */
}

.header__links-list {
  display: flex;
  /*justify-content: space-between;
  align-items: center;*/
  list-style: circle;
  gap: 32px;
}

.header__links-list-item {
  /* margin: 15px; */
  /* justify-content: center; */
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /*padding: 7px;*/
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  grid-area: 1/2/2/3;
  justify-self: center;
  
  /* background-size: 30%; */
  /* background-image: url('../images/logo-black.svg'); */
  /* background-color: white;
  background-size: contain; */
  /* display: flex; */
}

.header__logo-image {
  /* position: relative; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: 20%; */
  /* position: relative;
  background-size: contain; */
  height:105px;
  /* background-size: cover; */
  background-position: center;
}

.adress {
  grid-area: 1/3/2/4;
  justify-self: end;
}

.header__contacts {
  list-style: none;
  font-family: Raleway;
  font-weight: normal;
}

.header__contacts-item {
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24.3px; /* 135% */
}

.cover {
  position: relative;
  /*margin-bottom: 180px;
  padding-bottom: 50px;*/
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  /*margin: 165px 50px 0px 50px;*/
  padding: 165px 50px 50px 50px;
}

.title {
  /*width: max-content;*/
  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 115px repeat(2, 1fr);
  /* grid-template-areas: "aligned-text" "aligned-text-center" "aligned-text-right"; */
  /* grid-column-gap: 0px; */
  grid-row-gap: 20px;
  position: relative;
  /*margin-bottom: 180px;
  padding-bottom: 50px;*/
  /* background-image: url('../images/cover.jpg');
  background-repeat: no-repeat; */
  /*background-position: center;*/
  /* background-size: 100%;
  background-color: #000; */
  /*margin: 165px 50px 0px 50px;*/
  padding-bottom: 135px;
}

.overlay {

}

/*.cover__image {
  /*width: 1440px;
  height: 757px;*/
  /**/
  /*opacity: 0.6;
}*/

.cover__title {
  
  font-weight: 700;
  font-size: 100px;
  
  font-style: normal;
  text-transform: uppercase;
  color: white;
  
  /*letter-spacing: 30px;*/
}

.letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.aligned-text {
  grid-area: "aligned-text";
  grid-area: 1/1/2/2;
  line-height: 115%;
  /*display: flex;*/
  /*justify-content: start;*/
}

.aligned-text-center {
  grid-area: "aligned-text-center";
  grid-area: 2/1/3/2;
  display: flex;
  justify-content: center;
  line-height: 100%;
}

.aligned-text-right {
  grid-area: "aligned-text-center";
  grid-area: 3/1/4/2;
  display: flex;
  justify-content: end;
  line-height: 100%;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 52px;
  gap: 78px;
  /* margin-bottom: 50px; */
}

.cover__description-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 18px;
  color: white;
  /* padding-right: 78px; */
}

.bet-button {
  width: 257px;
height: 52px;
flex-shrink: 0;
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
height: 100%;
}